body {
    background-color: #222429;
}

#txt-busqueda {
    width: 500px;
    height: 38px;
    outline: none;
}

#btn-cargar-listado {
    color: #222429;
    background-color: #e6e2e1;
}
