body {
    background-color: #222429;
}

#txt-busqueda {
    width: 500px;
    outline: none;
}

#btn-cargar-listado {
    color: #222429;
    background-color: #e6e2e1;
}

.esconder {
    display: none;
}

/* media queries */

@media (max-width: 575.98px) {
    #txt-busqueda {
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #txt-busqueda {
        width: 350px;
    }
}
